<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="14.0.0.3" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Sitecore" version="10.1.1" targetFramework="net48" developmentDependency="true" />
  <package id="Sitecore.Kernel" version="10.1.1" targetFramework="net48" />
  <package id="Sitecore.LayoutService" version="10.1.0" targetFramework="net48" />
</packages>